<style>
  form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  select, input[type="number"] {
    display: block;
    margin-bottom: 1em;
    padding: 0.25em;
    width: 100%;
  }
  .error {
    color: red;
    font-weight: bold;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<img src="../static/logo.jpg" width="180" height="81">
<p class="error">{{message}}</p>
<form method="post" action = "/result" enctype = "multipart/form-data">
  <label>Subject 1:</label>
  <select name="Subject 1">
    <option value="" disabled selected hidden>Choose Subject...</option>
    <option value="english">English</option>
    <option value="biology">Biology</option>
    <option value="chemistry">Chemistry</option>
    <option value="physics">Physics</option>
    <option value="computer_science">Computer Science</option>
    <option value="hindiB">Hindi</option>
    <option value="spanishAB">Spanish AB</option>
    <option value="spanishB">Spanish B</option>
    <option value="frenchAB">French AB</option>
    <option value="frenchB">French B</option>
    <option value="psychology">Psychology</option>
    <option value="digital_societies">Digital Societies</option>
    <option value="global_politics">Global Politics</option>
    <option value="visual_arts">Visual Arts</option>
    <option value="economics">Economics</option>
    <option value="business_management">Business Management</option>
    <option value="math_aa">Mathematics AA</option>
    <option value="math_ai">Mathematics AI</option>
    <option value="ess">Environmental Systems and Societies</option>
  </select>
  <select name="Subject 1 Level">
    <option value="" disabled selected hidden>Choose HL or SL...</option>
    <option value="HL">HL</option>
    <option value="SL">SL</option>
  </select>
  <input type="number" name="Subject 1 PE1" placeholder="Enter PE1 score">
  <input type="number" name="Subject 1 PE2" placeholder="Enter PE2 score">
  <input type="number" name="Subject 1 PE3" placeholder="Enter PE3 score">
  <input type="number" name="Subject 1 PEY2" placeholder="Enter PEY2 score">
  <br>
  <label>Subject 2:</label>
  <select name="Subject 2">
    <option value="" disabled selected hidden>Choose Subject...</option>
    <option value="english">English</option>
    <option value="biology">Biology</option>
    <option value="chemistry">Chemistry</option>
    <option value="physics">Physics</option>
    <option value="computer_science">Computer Science</option>
    <option value="hindiB">Hindi</option>
    <option value="spanishAB">Spanish AB</option>
    <option value="spanishB">Spanish B</option>
    <option value="frenchAB">French AB</option>
    <option value="frenchB">French B</option>
    <option value="psychology">Psychology</option>
    <option value="digital_societies">Digital Societies</option>
    <option value="global_politics">Global Politics</option>
    <option value="visual_arts">Visual Arts</option>
    <option value="economics">Economics</option>
    <option value="business_management">Business Management</option>
    <option value="math_aa">Mathematics AA</option>
    <option value="math_ai">Mathematics AI</option>
    <option value="ess">Environmental Systems and Societies</option>
  </select>
  <select name="Subject 2 Level">
    <option value="" disabled selected hidden>Choose HL or SL...</option>
    <option value="HL">HL</option>
    <option value="SL">SL</option>
  </select>
  <input type="number" name="Subject 2 PE1" placeholder="Enter PE1 score">
  <input type="number" name="Subject 2 PE2" placeholder="Enter PE2 score">
  <input type="number" name="Subject 2 PE3" placeholder="Enter PE3 score">
  <input type="number" name="Subject 2 PEY2" placeholder="Enter PEY2 score">
  <br>
  <label>Subject 3:</label>
  <select name="Subject 3">
    <option value="" disabled selected hidden>Choose Subject...</option>
    <option value="english">English</option>
    <option value="biology">Biology</option>
    <option value="chemistry">Chemistry</option>
    <option value="physics">Physics</option>
    <option value="computer_science">Computer Science</option>
    <option value="hindiB">Hindi</option>
    <option value="spanishAB">Spanish AB</option>
    <option value="spanishB">Spanish B</option>
    <option value="frenchAB">French AB</option>
    <option value="frenchB">French B</option>
    <option value="psychology">Psychology</option>
    <option value="digital_societies">Digital Societies</option>
    <option value="global_politics">Global Politics</option>
    <option value="visual_arts">Visual Arts</option>
    <option value="economics">Economics</option>
    <option value="business_management">Business Management</option>
    <option value="math_aa">Mathematics AA</option>
    <option value="math_ai">Mathematics AI</option>
    <option value="ess">Environmental Systems and Societies</option>
  </select>
  <select name="Subject 3 Level">
    <option value="" disabled selected hidden>Choose HL or SL...</option>
    <option value="HL">HL</option>
    <option value="SL">SL</option>
  </select>
  <input type="number" name="Subject 3 PE1" placeholder="Enter PE1 score">
  <input type="number" name="Subject 3 PE2" placeholder="Enter PE2 score">
  <input type="number" name="Subject 3 PE3" placeholder="Enter PE3 score">
  <input type="number" name="Subject 3 PEY2" placeholder="Enter PEY2 score">
  <br>
  <label>Subject 4:</label>
  <select name="Subject 4">
    <option value="" disabled selected hidden>Choose Subject...</option>
    <option value="english">English</option>
    <option value="biology">Biology</option>
    <option value="chemistry">Chemistry</option>
    <option value="physics">Physics</option>
    <option value="computer_science">Computer Science</option>
    <option value="hindiB">Hindi</option>
    <option value="spanishAB">Spanish AB</option>
    <option value="spanishB">Spanish B</option>
    <option value="frenchAB">French AB</option>
    <option value="frenchB">French B</option>
    <option value="psychology">Psychology</option>
    <option value="digital_societies">Digital Societies</option>
    <option value="global_politics">Global Politics</option>
    <option value="visual_arts">Visual Arts</option>
    <option value="economics">Economics</option>
    <option value="business_management">Business Management</option>
    <option value="math_aa">Mathematics AA</option>
    <option value="math_ai">Mathematics AI</option>
    <option value="ess">Environmental Systems and Societies</option>
  </select>
  <select name="Subject 4 Level">
    <option value="" disabled selected hidden>Choose HL or SL...</option>
    <option value="HL">HL</option>
    <option value="SL">SL</option>
  </select>
  <input type="number" name="Subject 4 PE1" placeholder="Enter PE1 score">
  <input type="number" name="Subject 4 PE2" placeholder="Enter PE2 score">
  <input type="number" name="Subject 4 PE3" placeholder="Enter PE3 score">
  <input type="number" name="Subject 4 PEY2" placeholder="Enter PEY2 score">
  <br>
  <label>Subject 5:</label>
  <select name="Subject 5">
    <option value="" disabled selected hidden>Choose Subject...</option>
    <option value="english">English</option>
    <option value="biology">Biology</option>
    <option value="chemistry">Chemistry</option>
    <option value="physics">Physics</option>
    <option value="computer_science">Computer Science</option>
    <option value="hindiB">Hindi</option>
    <option value="spanishAB">Spanish AB</option>
    <option value="spanishB">Spanish B</option>
    <option value="frenchAB">French AB</option>
    <option value="frenchB">French B</option>
    <option value="psychology">Psychology</option>
    <option value="digital_societies">Digital Societies</option>
    <option value="global_politics">Global Politics</option>
    <option value="visual_arts">Visual Arts</option>
    <option value="economics">Economics</option>
    <option value="business_management">Business Management</option>
    <option value="math_aa">Mathematics AA</option>
    <option value="math_ai">Mathematics AI</option>
    <option value="ess">Environmental Systems and Societies</option>
  </select>
  <select name="Subject 5 Level">
    <option value="" disabled selected hidden>Choose HL or SL...</option>
    <option value="HL">HL</option>
    <option value="SL">SL</option>
  </select>
  <input type="number" name="Subject 5 PE1" placeholder="Enter PE1 score">
  <input type="number" name="Subject 5 PE2" placeholder="Enter PE2 score">
  <input type="number" name="Subject 5 PE3" placeholder="Enter PE3 score">
  <input type="number" name="Subject 5 PEY2" placeholder="Enter PEY2 score">
  <br>
  <label>Subject 6:</label>
  <select name="Subject 6">
    <option value="" disabled selected hidden>Choose Subject...</option>
    <option value="english">English</option>
    <option value="biology">Biology</option>
    <option value="chemistry">Chemistry</option>
    <option value="physics">Physics</option>
    <option value="computer_science">Computer Science</option>
    <option value="hindiB">Hindi</option>
    <option value="spanishAB">Spanish AB</option>
    <option value="spanishB">Spanish B</option>
    <option value="frenchAB">French AB</option>
    <option value="frenchB">French B</option>
    <option value="psychology">Psychology</option>
    <option value="digital_societies">Digital Societies</option>
    <option value="global_politics">Global Politics</option>
    <option value="visual_arts">Visual Arts</option>
    <option value="economics">Economics</option>
    <option value="business_management">Business Management</option>
    <option value="math_aa">Mathematics AA</option>
    <option value="math_ai">Mathematics AI</option>
    <option value="ess">Environmental Systems and Societies</option>
  </select>
  <select name="Subject 6 Level">
    <option value="" disabled selected hidden>Choose HL or SL...</option>
    <option value="HL">HL</option>
    <option value="SL">SL</option>
  </select>
  <input type="number" name="Subject 6 PE1" placeholder="Enter PE1 score">
  <input type="number" name="Subject 6 PE2" placeholder="Enter PE2 score">
  <input type="number" name="Subject 6 PE3" placeholder="Enter PE3 score">
  <input type="number" name="Subject 6 PEY2" placeholder="Enter PEY2 score">
  <br>
  <input type="submit" value="Submit">
</form>


